In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("../data/raw/multiple_choice_responses.csv", low_memory=False)

df

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,84,50-54,Male,-1,Japan,NaN,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19714,473,18-21,Male,-1,India,Bachelor’s degree,Other,-1,250-999 employees,3-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19715,9195,35-39,Male,-1,India,Master’s degree,Student,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19716,176,25-29,Male,-1,India,Master’s degree,Statistician,-1,50-249 employees,15-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19717,567,50-54,Male,-1,France,Bachelor’s degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [2]:
# Does not have much meaning, other column with QX_OTHER_TEXT also same
df['Q2_OTHER_TEXT'].unique()

array(['What is your gender? - Prefer to self-describe - Text', '-1', '0',
       '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43'], dtype=object)

In [3]:
# Drop columns that contain '_OTHER_TEXT' in their names
df = df.drop(columns=[col for col in df.columns if '_OTHER_TEXT' in col])

In [4]:
# Loop over each question number and combine part columns into one column for each question
for i in range(1, 35):
    # Find all columns related to this question, like Q1_Part_1, Q1_Part_2, etc.
    part_columns = [col for col in df.columns if col.startswith(f"Q{i}_Part_") or col == f"Q{i}"]
    
    # Combine non-null entries for each question into a single string and save to a new column QX
    df[f'Q{i}'] = df[part_columns].apply(lambda row: ', '.join(row.dropna().astype(str)), axis=1)

# Drop the original part columns if they are no longer needed
df = df.drop(columns=[col for col in df.columns if "_Part_" in col or "_OTHER_TEXT" in col])

In [5]:
# Drop the column: Time from Start to Finish (seconds)
# As this column has no much meaning for our study
df = df.drop('Time from Start to Finish (seconds)', axis=1)

In [6]:
# Set the first row as column names
df.columns = df.iloc[0]

# Remove the first row of data
df = df.drop(index=0).reset_index(drop=True)

In [8]:
df.columns = df.columns.str.replace('- Selected Choice', '', regex=False)
df.columns = df.columns.str.replace(r'\(Select all that apply\).*', '', regex=True)
df.columns = df.columns.str.replace(r'\(Include text response\).*', '', regex=True)

In [9]:
df

,What is your age (# years)?,What is your gender?,In which country do you currently reside?,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Select the title most similar to your current role (or most recent title if retired),What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,Does your current employer incorporate machine learning methods into their business?,What is your current yearly compensation (approximate $USD)?,Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?,...,Which categories of ML tools do you use on a regular basis?,Which categories of computer vision methods do you use on a regular basis?,Which of the following natural language processing (NLP) methods do you use on a regular basis?,Which of the following machine learning frameworks do you use on a regular basis?,Which of the following cloud computing platforms do you use on a regular basis?,Which specific cloud computing products do you use on a regular basis?,Which specific big data / analytics products do you use on a regular basis?,Which of the following machine learning products do you use on a regular basis?,Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?,Which of the following relational database products do you use on a regular basis?
0,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 (USD),...,None,,,None,,,,,,
1,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...","5,000-7,499","> $100,000 ($USD)",...,,,,,,,,,,
2,55-59,Female,Germany,Professional degree,,,,,,,...,,,,,,,,,,
3,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",20+,I do not know,"250,000-299,999","$10,000-$99,999",...,Automation of full ML pipelines (e.g. Google A...,"General purpose image/video tools (PIL, cv2, s...",,"Scikit-learn , TensorFlow , Keras , Rand...",Microsoft Azure,"Azure Virtual Machines, Azure Container Service","Databricks, Microsoft Analysis Services",Azure Machine Learning Studio,None,Azure SQL Database
4,22-24,Male,India,Bachelor’s degree,Other,0-49 employees,0,No (we do not use ML methods),"4,000-4,999",$0 (USD),...,None,,,"Scikit-learn , RandomForest, Xgboost , Li...",,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,50-54,Male,Japan,,,,,,,,...,,,,,,,,,,
19713,18-21,Male,India,Bachelor’s degree,Other,250-999 employees,3-4,I do not know,$0-999,$0 (USD),...,,,,,,,,,,
19714,35-39,Male,India,Master’s degree,Student,,,,,,...,,,,,,,,,,
19715,25-29,Male,India,Master’s degree,Statistician,50-249 employees,15-19,"We recently started using ML methods (i.e., mo...","1,000-1,999",,...,,,,,,,,,,
19716,50-54,Male,France,Bachelor’s degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...","60,000-69,999",$0 (USD),...,"Automated model selection (e.g. auto-sklearn, ...",,,"Scikit-learn , Spark MLib",,,,,,

In [10]:
df.columns

Index(['What is your age (# years)?', 'What is your gender? ',
       'In which country do you currently reside?',
       'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
       'Select the title most similar to your current role (or most recent title if retired)',
       'What is the size of the company where you are employed?',
       'Approximately how many individuals are responsible for data science workloads at your place of business?',
       'Does your current employer incorporate machine learning methods into their business?',
       'What is your current yearly compensation (approximate $USD)?',
       'Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?',
       'What is the primary tool that you use at work or school to analyze data? ',
       'How long have you been writing code to analyze data (at work or at school)?',
       'What programming language would you recommend an aspiring data scientist to learn first? ',
       'Have you ever used a TPU (tensor processing unit)?',
       'For how many years have you used machine learning methods?',
       'Select any activities that make up an important part of your role at work: ',
       'Who/what are your favorite media sources that report on data science topics? ',
       'On which platforms have you begun or completed data science courses? ',
       'Which of the following integrated development environments (IDE's) do you use on a regular basis?  ',
       'Which of the following hosted notebook products do you use on a regular basis?  ',
       'What programming languages do you use on a regular basis? ',
       'What data visualization libraries or tools do you use on a regular basis?  ',
       'Which types of specialized hardware do you use on a regular basis?  ',
       'Which of the following ML algorithms do you use on a regular basis? ',
       'Which categories of ML tools do you use on a regular basis?  ',
       'Which categories of computer vision methods do you use on a regular basis?  ',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  ',
       'Which of the following machine learning frameworks do you use on a regular basis? ',
       'Which of the following cloud computing platforms do you use on a regular basis? ',
       'Which specific cloud computing products do you use on a regular basis? ',
       'Which specific big data / analytics products do you use on a regular basis? ',
       'Which of the following machine learning products do you use on a regular basis? ',
       'Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  ',
       'Which of the following relational database products do you use on a regular basis? '],
      dtype='object', name=0)

In [11]:
# Save to a new CSV
df.to_csv("../data/raw/combined_responses.csv", index=False)